{% extends 'base.html' %}

{% block title %}Game Details{% endblock %}

{% block content %}
<h1>{{ game.title }}</h1>
<p>Genre: {{ game.genre }}</p>
<a href="{{ game.game_url }}" class="btn btn-outline-primary">Play Game</a>
<br>

<form method="POST" action="/games/add-like/{{ game.id }}">
    <button type="submit" class="btn btn-outline-secondary">
        {% if game.id in user.favorites | map(attribute='game_id') %}
        Remove from favorites
        {% else %}
        Add to favorites
        {% endif %}
    </button>
</form>
<br>
<br>
<h4>Survey Results for {{ game.title }}:</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Survey Type</th>
            <th>Stress Score</th>
            <th>Anxiety Score</th>
            <th>Depression Score</th>
        </tr>
    </thead>
    <tbody>
        {% for survey in surveys %}
        <tr>
            <td>{{ 'Before' if survey.before_survey else 'After' }}</td>
            <td>{{ survey.stress }}</td>
            <td>{{ survey.anxiety }}</td>
            <td>{{ survey.depression }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}