{% extends 'base.html' %}

{% block title %}Thank you!{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <h1>Thank you for your submission, {{user.username}}!</h1>
</div>
<br>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Survey Type</th>
                <th>Stress Score</th>
                <th>Anxiety Score</th>
                <th>Depression Score</th>
            </tr>
        </thead>
        <tbody>
            {% if before_survey %}
            <tr>
                <td>Before</td>
                <td>{{ before_survey.stress }}</td>
                <td>{{ before_survey.anxiety }}</td>
                <td>{{ before_survey.depression }}</td>
            </tr>
            {% endif %}

            {% if after_survey %}
            <tr>
                <td>After</td>
                <td>{{ after_survey.stress }}</td>
                <td>{{ after_survey.anxiety }}</td>
                <td>{{ after_survey.depression }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<br>
<div class="btn-container">
    <a href="/start" class="btn btn-outline-secondary">Play again?</a>
</div>
{% endblock %}